

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.marginTop20 {
    margin-top:20px;
}

#navbar .btn {
    margin-top:8px;
}
#navbar .navbar-online-section .navbar-brand {
    padding-top:6px;
    padding-bottom:6px;
}

















